*.log
*.jou
xsim/
.Xil/
build/vivado/deep_snn_top/
build/vivado/src/
build/vivado/*.pb
build/vivado/*.str
sim_work/
sim_integration_clean/
bin_export/
rtl/Shabaan_Unit/fetch_stage2_1/work
rtl/Top_test/*
!rtl/Top_test/*.do
!rtl/Top_test/files.f
!rtl/Top_test/*.sv
!rtl/Top_test/dummy_image_256x256.hex
"rtl/Top_test/work/" 
